@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nosotros-container {
  text-align: center;
  padding: 50px;
  background-color: #f0f4f8;
}

.nosotros-container p {
    background-color: #00C9A7;  
    color: white;               
    padding: 10px 20px;       
    font-size: 1rem;            
    font-weight: bold;          
    display: inline-block;      
    border-radius: 10px;         
    text-transform: uppercase;  
  }

.maestros-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}


.maestro-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  opacity: 0; 
  animation: fadeIn 1s ease-in-out forwards; 
}

.maestro-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  
}

.maestro-imagen {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.maestro-card:hover .maestro-imagen {
  transform: scale(1.05);
}

.maestro-info {
  padding-top: 15px;
  color: black;
}

.maestro-info h3 {
  font-size: 1.8rem;
  color: black;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.maestro-card:hover .maestro-info h3 {
  color: #00C9A7;
}

.maestro-info p {
  font-size: 1.2rem;
  color: gray;
}

@media (max-width: 1024px) {
  .maestros-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .maestros-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .maestro-card {
    padding: 15px;
  }

  .maestro-info h3 {
    font-size: 1.4rem;
  }

  .maestro-info p {
    font-size: 1rem;
  }
}
