.enlaces-interes {
  padding: 50px 20px;
  background-color: #f0f4f8;
  text-align: center;
  z-index: 1; 
  position: relative;
}

.enlaces-interes h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: black;
}

.enlaces-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.enlace-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 150px;
  height: auto;
  transition: transform 0.3s;
}

.enlace-item:hover .logo {
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .enlaces-grid {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 120px;
  }
}
