.faq-section {
  padding: 50px 20px;
  background-color: #f0f4f8;
  text-align: center;
}

.faq-title {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.faq-item {
  margin-bottom: 20px;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.faq-item h3 {
  font-size: 1.5rem;
  color: #00C9A7;
  margin-bottom: 10px;
}

.faq-item p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  text-align: justify; /* Texto justificado */
}

/* Responsividad para dispositivos medianos (tabletas, pantallas medianas) */
@media (max-width: 1024px) {
  .faq-title {
    font-size: 2rem;
  }

  .faq-item h3 {
    font-size: 1.3rem;
  }

  .faq-item p {
    font-size: 1.1rem;
  }
}

/* Responsividad para dispositivos pequeños (teléfonos) */
@media (max-width: 768px) {
  .faq-title {
    font-size: 1.8rem;
  }

  .faq-item h3 {
    font-size: 1.2rem;
  }

  .faq-item p {
    font-size: 1rem;
  }
}

/* Responsividad para pantallas muy pequeñas (smartphones compactos) */
@media (max-width: 480px) {
  .faq-title {
    font-size: 1.5rem;
  }

  .faq-item h3 {
    font-size: 1rem;
  }

  .faq-item p {
    font-size: 0.9rem;
  }
}
