.promo-video {
  padding: 50px 20px;
  text-align: center;
  background-color:#f0f4f8;
}

.promo-video h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
}

.video-container {
  display: flex;
  justify-content: center;
}

.promo-video-element {
  width: 100%;
  max-width: 800px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .promo-video-element {
    max-width: 100%;
    height: 350px; 
  }

  .promo-video h2 {
    font-size: 2rem;
  }
}
